.carousel {
    position: relative;
    padding:81px 0;
    &__inner {
        position: relative;
        width: 750px;
        height: 500px;
        margin: 0 auto;
    }
    .slick-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: #fff;
        left: -66px;
        img {
            width: 30px;
            height: 50px;
        }
    }
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: #fff;
        right: -70px;
        img {
            width: 30px;
            height: 50px;
        }
    }
    .tns-nav {
        display: none;
    }
    [data-controls="prev"] {
        display: block;
        position: absolute;
        left: 230px;
        bottom: 50%;
        background-color: #fff;
        border: none;
    }
    [data-controls="next"] {
        display: block;
        position: absolute;
        left: 1250px;
        bottom: 50%;
        background-color: #fff;
        border: none;
    }
}
